body{

}

.cadastro{
    background-image: linear-gradient(rgba(255, 122, 122,.7), rgba(255, 122, 122,.7)),
                      url(../src/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.cadastro .sobre,
.cadastro .container-box{
    flex: 0 1 48rem;
}

.cadastro .sobre{
    color: var(--cor-white);
}

.cadastro .sobre .titulo{
    font-size: 4rem;
}

.cadastro .sobre .paragrafo{
    font-size: 1.5rem;
    margin-top: 2.5rem;
    line-height: 1.8;
}

/* formulário */

.container-box{
    width: 100%;
    margin: 0 2.5rem;
}

.container-box .title{
    background: var(--cor-blue);
    border-radius: 10px;
    padding: 2rem 0;
    text-align: center;
    color: var(--cor-Grayish-Blue);
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow: 1px 7px 1px rgba(0,0,0,.2);
}

.container-box .title strong{
    color: var(--cor-white);
    font-weight: 700;
}

.container-box form{
    background: var(--cor-white);
    border-radius: 10px;
    margin: 2.5rem 0;
    padding: 2rem;
    box-shadow: 10px 10px 1px rgba(0,0,0,.2);
}

.container-box form .inputBox{
    margin-bottom: 2rem;
    cursor: pointer;
}

.container-box form .inputBox input{
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid var(--cor-Grayish-Blue);
    border-radius: 5px;
}

.container-box form .inputBox input:active{
    border: 1px solid var(--cor-Dark-Blue);
    background: #f0efef;
}

.container-box form .inputBox input::placeholder{
    font-weight: 600;
    color: var(--cor-Dark-Blue);
}

.cadastro form .btn{
    width: 100%;
    background: var(--cor-green);
    color: var(--cor-white);
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: inset  -1px -4px 1px rgba(0,0,0,.2);
}

.cadastro form .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.cadastro form .flex p{
    color: var(--cor-Grayish-Blue);
    font-size: 11px;
}

.cadastro form .flex p strong{
    color: var(--cor-red);
}

footer .attribution{
    text-align: center;
    background-image: linear-gradient(rgba(255, 122, 122,.7), rgba(255, 122, 122,.7));
    padding: 20px 15px;
    font-size: 15px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width:970px){
    .cadastro .sobre{
        text-align: center;
        margin: 3rem 2rem;
    }
}

@media (max-width:768px){
    .cadastro .fumulario{
        margin: 0 3rem;
    }

    .cadastro form .flex p{
        margin-left: 2.5rem;
    }
}

@media (max-width:425px){

    .cadastro .container-box form{
        background: var(--cor-white);
        border-radius: 10px;
        padding: 2.8rem;
    }

    .cadastro .sobre .price{
        font-size: 3rem;
    }

    .cadastro .container-box .title{
        padding: 1.5rem 3rem;
    }
}

@media (max-width:320px){
    .cadastro{
        background-image: linear-gradient(rgba(255, 122, 122,.7), rgba(255, 122, 122,.7), url(../src/bg-intro-mobile.png));
    }

    .cadastro .container-box .title{
        padding: 1.5rem 3rem;
        color: var(--cor-Grayish-Blue);
    }
}
